body {
    /* background-color: lightskyblue; */
    background-image: url(https://thumbs.dreamstime.com/b/wood-background-wallpaper-hd-123273980.jpg);
 background-color: #cccccc;
    
} 

    
header h2 {
    /* padding-top: 20px;  */
    margin-left: 10px;
}

footer img {
    position: center;
    width: 80px;

}