body {
    /* background-color: lightskyblue; */
    background-image: url(https://thumbs.dreamstime.com/b/wood-background-wallpaper-hd-123273980.jpg);
 background-color: #cccccc;
    
} 

/* .container {
    background-image: src="href="https://www.vecteezy.com/free-vector/3d;
} */
    
header h2 {
    padding-top: 20px; 
    margin-left: 10px;
}

footer img {
    align-items: center;
    width: 80px;

}